@import "tailwindcss";

@layer base {
  :root {
    --primary-color: #04986D;
    --background-color: #04986D;
  }
}

.bg-primary{
  background-color: var(--primary-color);
}

#content{
  background-color: var(--background-color);
}